<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">
            <p><%= @friend.first_name %> <%= @friend.last_name %></p>
        </h1>
        <p><strong>Email:</strong><%= @friend.email %></p>
        <p><strong>Phone:</strong><%= @friend.phone %></p>
        <p><strong>Twitter:</strong><%= @friend.twitter %></p>
        <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-secondary" %>
        <%= link_to 'Back', friends_path, class:"btn btn-dark" %>
      </div>
    </div>
